
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900');


body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #a7a7b7;
  background: #ffffff;
  font-weight: 400;
  overflow-x: hidden;

  }


/* ------- Header -------*/

header {
  background: #1e1e1e;

}

header button {
    margin-left: 30px;
    border-radius: 20px;
    height: 30px;
    align-self: center;
    width: 120px;
    padding: 3px;
    color: #fff;
    background: #ed6926;
    border: none;

}

header button:hover {

    border: 2px solid #1e1e1e ;

}

header nav a {
    color: #6f6f6f;
    font-weight: 500;
}

header .menu-main a:hover {
    color: #ed6926;
    text-decoration: none;
    background: #343434;
}

header nav .contactos {
    color: #fff;
    text-decoration: none;
    background: #343434;
}

.menu-main{
    display: flex;
    justify-content: space-between;
    height: 68px;
}

.menu-main a{
    flex: 1;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

header #btn-menu-icon {
  color: #fff;
  font-size: 25px;
}



/* ------- Header - logo -------*/


header .logo img {

  margin: 10px;

}

/* ------- Header - redes -------*/

/* ------- main -------*/

main h1 {
   font-size: 32px;
}

main h2 {
   font-size: 22px;
}

/* ------- banner -------*/

main #banner {
background: #ed6926;
}

main #slide {
  width: 100%;
}



/* -------nosotros -------*/
.sticky {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  bottom: -35px;
  z-index: 90;
}

.pan img {
  width: 100%;
  position: relative;
  bottom: -110px;
}



main #nosotros span  {
  font-weight: 700;
  color:  #ed6926;
}

main #nosotros h6 {
  font-weight: 700;
  color:  #ed6926;
}
main .nosotros {
  margin-top: 80px;
  color: #000;
  margin-bottom:80px;
}

main #nosotros p {

  color: #000;
}


/*----grid----*/

.grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: -75px;
  z-index: 90;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.50);
}

.grid-img {
  position: relative;
}


.grid-img .last {
  width: auto;
}

.grid-img #last {
  width: 107%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(237, 105, 38,.8);
}

.grid-img:hover .overlay {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text.rectangle-3 {
  height: 3px;
  width: 70px;
  top: 58%;
  background:#fff;
}

#column3 .text.rectangle-3 {
  top: 54.5%;
  height: 4px;
}


/* Create four equal columns that sits next to each other */
.column {
  flex: 32.9%;
  max-width: 32.9%;
}




/* -------servicios -------*/

main #servicios {
background: #ed6926;
color: #fff;
}

main #servicios-main img {
border-radius: 100px;
margin: 30px;
}

main #servicios-main h1 {
font-weight: 900;
}

main #servicios-main .group2 {
position: absolute;
right: 0;
}

main #servicios-main .serivicios-item {
margin-top: 20px;
margin-bottom: 20px;

}


main .servicios {
margin-top: 170px;
margin-bottom: 60px;
}

.accordion{
  color: #000;
  width:530px;
  height: 250px;
  border: 1px solid #ababab;
}
.accordion-toggle {
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  margin: 15px;
  padding: 10px 0;
  position: relative;
  font-size: 16px;
}

.accordion #ac-3 {
  border-bottom: none;
}
.accordion-toggle.active:after{
  content:"";
  position:absolute;
  right:0;
  top:17px;
  width:0;
  height:0;
  border-bottom:5px solid #ed6926;
  border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);
  }
.accordion-toggle:before{content:"";
position:absolute;
right:0;
top:17px;
width:0;height:0;border-top:5px solid #ed6926;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}

.accordion-toggle.active:before{
  display:none;
}
.accordion-content {
  display: none;}
.accordion-toggle.active {
  color: #000;
  font-size: 18px
}

/* -------cortes -------*/

main #cortes {
  background: #343434;
  color: #fff;
}

main .rectangle-1 {
  height: 5px;
  width: 115px;
  background:#ed6926;
}

main .rectangle-2 {
  height: 5px;
  width: 115px;
  background:#000;
}

main .cortes {
  padding-top: 50px;
}

  main #cortes span {
    color: #ed6926;
    font-weight: 600;
  }
  /* -------clientes -------*/
  main #empresa-content {
    margin-bottom: 80px;
      color: #000;
  }

  main #empresa-content h2 {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  main .empresa {
    margin-top: 180px;
    color: #000;
  }

  main .empresa span {
    color: #ed6926;
    font-weight: 600;
  }


/* -------clientes -------*/

#carousel {
  width:960px;
  height:400px;
  position:relative;
  clear:both;
  overflow:hidden;
  margin-top: 30px;
}
#carousel img {
  opacity: 1;
  visibility:hidden; /* hide images until carousel can handle them */
  cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}


main #clientes {
background-image: url('../assets/img/12.jpg');
background-size: cover;
height: auto;
width: auto;
background-repeat: no-repeat;
color: #fff;
}

main #clientes .rectangle-2 {
margin-bottom: 30px;
}


main #clientes h3 {
font-weight: 600;
margin-top: 40px;
margin-bottom: 30px;
}


main .clientes {

  margin-top: 80px;
  margin-bottom: 100px;

}





/* -------clientes -------*/

main #contacto .form-control:focus{
  border-color: #ed6926;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(237, 105, 38,.50);
}

main #contacto button:focus{
  border-color: #ed6926;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(237, 105, 38,.50);
}

main #contacto {
background: #f1f1f1;
color: #000;
}

main #contacto span {
font-weight: 600;
color: #ed6926;
}

main #contanto-content {
  margin-top: 50px;
}

main .contacto {
  margin-top: 80px;
}

main #contacto textarea {
background: #f1f1f1;
}

main #contacto input {
background: #f1f1f1;
}

main #contacto button {
background: #f1f1f1;
border: 2px solid #ed6926;
color: #ed6926;
padding: 5px 40px 5px 40px;
margin-top: 15px;
}





/* ------- footer -------*/
footer {
  color: #fff;
}

footer .footer-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .footer-content img {
margin: 15px;
}
/* ------- footer - a -------*/

footer .footer-a {
  background: #343434;
}

footer .footer-a p {
  margin-top: 0px;
    margin-bottom: 0px;
}

footer #footer-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ------- footer - b -------*/
footer .footer-b {
  background: #6f6f6f;
}

footer .footer-b img {
  margin: 20px;
}

/* ------- Media-Queries -------*/

@media screen and (max-width: 1199px) {
  .accordion{
    width:440px;
  }



  .column {
    flex: 50%;
    max-width: 50%;
  }
  #column3 {
  display: none;
  }
  .grid {
    margin-right: auto;
    margin-left: auto;
  }
  header {
    font-size: 12px;
  }
  main #banner {
    background: none;
    height: auto;
  }
}

@media screen and (max-width: 991px) {

  .accordion{
    width:587px;
  }
  main .servicios {
    margin-top: 60px;
 }

 .grid-img img {
  width: 100%;
 }


}

@media screen and (max-width: 767px) {
  .accordion{
    width:500px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #column3 {
  display: none;
  }
  #nosotros img {
    margin: 20px;
  }

  header {
    z-index: 90;
  }

header .menu-main {
  display: none;
}

  header .menu-main.active {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    margin: 0;
    top:0;
    left: 0;
    color: #1e1e1e;
    display: block;
  }

  header .menu-main a {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  header .menu-main a:hover {
    background: #1e1e1e;
    color: #6f6f6f;
  }

  header .menu-main button {
    display: none;
  }




}



@media screen and (max-width: 575px) {
  .accordion{
    width:300px;
  }
  .column {

    flex: 100%;
    max-width: 100%;
  }
  .text.rectangle-3 {
    top: 65%;
  }
}
